{$PUBLIC_DOMAIN} {
	encode zstd gzip

	@api path /siam-server/*
	reverse_proxy @api {$BACKEND_UPSTREAM}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	log {
		output file {$ACCESS_LOG_PATH}
	}
}
